<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Avada Takeout</title>

        <!-- favicon -->
        <!-- <link rel="shortcut icon" href=".ico"> -->

        <!-- font: Barlow, 600-700 // Open sans, 400 -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!-- icone - fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS link -->
        <link rel="stylesheet" href="assets/style.css">

        <!-- CDN VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    </head>

    <body>
        <div id="root">
            <header :class="mobMenuHidden ? '' : 'show'">
                <div class="container">
                    <!-- LEFT logo -->
                    <div class="header-logo">
                        <img src="assets/img/logo/takeout-logo.png" alt="logo takeout">
                    </div>

                    <!-- RIGHT nav -->
                    <nav class="header-menu">
                        <ul :class="mobMenuHidden ? '' : 'show'">
                            <li
                                v-for="(item, key) in navMenu.navigate"
                                v-if="key != 'alternate home'"
                                :class="key == 'home' ? 'active drowpdown-symb' : ''">
                                <a :href="key.href"
                                    v-if="key != 'cart'">{{ key }}</a>

                                <a :href="key.href" v-else>
                                    <i class='fas fa-shopping-cart'></i>
                                </a>
                            </li>
                        </ul>

                        <!-- hamburger-menu-icon -->
                        <div class="hamburger-menu">
                            <i class="fas fa-2x"
                                :class="mobMenuHidden ? 'fa-bars' : 'fa-times'"
                                @click="mobMenuHidden = !mobMenuHidden">
                            </i>
                        </div>
                    </nav>
                </div><!-- END container -->
            </header>

            <main>
                <!-- main section: cover page -->
                <section class="cover">
                    <div class="container">
                        <span>hungry?</span>
                        <h1>
                            <span>great food</span><br/>
                            delivered
                        </h1>
                        <button class="primary" type="button" name="button">view our menu
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </button>

                        <!-- info card-container -->
                        <div class="feat-container">
                            <div class="info-card"
                                v-for="info in restFeatures">
                                <i :class="info.icon"></i>
                                <span>{{ info.text }}</span>
                            </div>
                        </div><!-- end info-container -->
                    </div><!-- END container -->
                </section>

                <!-- section: popular dishes -->
                <section class="pop-dishes">
                    <div class="container">
                        <h2>our most popular dishes</h2>

                        <div class="dish-card-container">
                            <div class="dish-card"
                                v-for="(dish, index) in dishes"
                                v-if="dish.popular">

                                <div class="card-img">
                                    <img :src="dish.imgSrc" :alt="dish.name">

                                    <div class="overlay">
                                        <i
                                            class="far"
                                            :class="dish.quantity ? 'fa-check-square' : 'fa-square'"
                                            @click="toggleCart(dish.quantity, index)">
                                        </i>

                                        <span>
                                            <a href="#">view cart</a>
                                        </span>
                                    </div><!-- end overlay -->
                                </div><!-- end card-img -->

                                <h4>{{ dish.name }}</h4>
                                <span>{{ stampPrices(dish.prices) }}</span>

                            </div>
                        </div><!-- end card-container -->

                        <button class="primary" type="button" name="button">start your order
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </button>
                    </div>
                </section>

                <!-- section: voucher discount -->
                <section class="voucher">
                    <svg class="fusion-waves-opacity-candy" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 1 1024 216" preserveAspectRatio="none">
                        <path fill-opacity="0.1" class="st0" d="M0 215.4c19.4.5 38.7 1.6 57.7.3 206.6-15 248.5-126.6 455-143.8 184.8-15.5 285.7 60.9 464.3 41.3 16.9-1.8 32.5-4.4 47.1-7.6L1024 .4H0v215z"/>
                        <path fill-opacity="0.3" class="st1" d="M0 196.4c30.2 1.6 59.6 1.6 86.8-.4C293.4 180.9 284.1 73.4 490.7 56.2c184.9-15.5 278.5 58.2 457.1 38.4 28.3-3.2 53.5-8.2 76.2-14.6V.256H0V196.4z"/>
                        <path fill-opacity="0.5" class="st2" d="M0 169.8c22.2.3 43.8-.2 64.2-1.7C270.8 153.1 262 55.6 468.6 38.4 653.4 22.9 695.4 89.5 874 69.7c54.8-6 104.9-18.3 150-33.7V.256H0V169.8z"/>
                        <path fill-opacity="1" class="st3" d="M0 162.1c4-.2 8-.4 11.9-.7C218.4 146.3 239.8 37 446.4 19.8 631.3 4.3 672.7 60.9 851.3 41.1c64-7.2 121.9-20.8 172.7-37.9V.156H0V162.1z"/>
                    </svg>
                </section>

                <!-- section: menu -->
                <section class="menu">
                    <div class="container">
                        <div class="title">
                            <h2>menu categories</h2>

                            <button class="primary" type="button" name="button">view the full menu
                                <i class="fas fa-arrow-alt-circle-right"></i>
                            </button>
                        </div><!-- END title -->

                        <div class="menu-container">
                            <div class="menu-cat"
                                v-for="(menu, name) in navMenu.navigate['order online'].submenu"
                                :style="menu.bcgImg">
                                <a :href="menu.href">
                                    {{ name }}
                                </a>
                            </div>
                        </div><!-- end menu-card-container -->

                        <div class="menu-container">
                            <div class="menu-cat allergy"
                                v-for="(allergy, name) in allergies">
                                <img :src="allergy.imgSrc" :alt="name">
                                <span>{{ name }}</span>
                            </div>
                        </div><!-- end menu-info -->
                    </div>
                </section>

                <!-- section: app -->
                <section class="app">
                    <div class="container">
                        <span>download our</span>
                        <h3>ordering app</h3>

                        <!-- link app store -->
                        <a href="#">
                            <img src="assets/img/app/app-store-badge-200x67.png" alt="app store">
                        </a>
                        <a href="#">
                            <img src="assets/img/app/play-store-badge-200x67.png" alt="play store">
                        </a>
                    </div>
                </section>

                <!-- section: news -->
                <section class="news">
                    <div class="container">
                        <div class="title">
                            <h2>latest news</h2>

                            <button class="primary" type="button" name="button">read more news
                                <i class="fas fa-arrow-alt-circle-right"></i>
                            </button>
                        </div><!-- END title -->

                        <div class="news-container">
                            <div class="single-news"
                                v-for="newsObj in news.slice(0, 2)">
                                <div class="img-container">
                                    <img :src="newsObj.img" :alt="newsObj.title">

                                    <div class="overlay"></div>
                                </div>
                                <h4>{{ newsObj.title }}</h4>
                                <p>{{ newsObj.article.substring(0, 138) }}</p>
                            </div>
                        </div><!-- end news-container -->
                    </div>
                </section>
            </main>

            <footer>
                <div class="footer-container">
                    <!-- TOP footer menu -->
                    <nav class="footer-menu">
                        <ul>
                            <li><!-- order online -->
                                order online
                                <ul>
                                    <li
                                        v-for="(item, key) in navMenu.navigate['order online'].submenu">
                                        <a :href="item.href">{{ key }}</a>
                                    </li>
                                </ul><!-- END submenu -->
                            </li>
                            <li><!-- navigate -->
                                navigate
                                <ul>
                                    <li
                                        v-for="(item, key) in navMenu.navigate"
                                        :class="key == 'home' ? 'active' : ''">
                                        <a :href="item.href">{{ key != 'order online' ? key : 'menu' }}</a>
                                    </li>
                                </ul>
                                <!-- END submenu -->
                            </li>
                            <li><!-- information -->
                                information
                                <ul>
                                    <li
                                        v-for="(item, key) in navMenu.information">
                                        <a :href="item.href">{{ key }}</a>
                                    </li>
                                    <!-- app link imgs -->
                                    <li class="app-link">
                                        <a href="#">
                                            <img src="assets/img/app/app-store-badge-200x67.png" alt="app store">
                                        </a>
                                    </li>
                                    <li class="app-link">
                                        <a href="#">
                                            <img src="assets/img/app/play-store-badge-200x67.png" alt="play store">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><!-- opening hours -->
                                opening hours
                                <ul class="opening-hours">
                                    <li
                                        v-for="(item, key) in navMenu['opening hours']">
                                        {{ key }} - <span class="highlight">{{ item.opening }} to {{ item.closing }}</span>
                                    </li>
                                </ul>
                            </li>
                            <li><!-- voucher -->
                                voucher
                                <ul>
                                    <li
                                        v-for="(item, key) in navMenu.voucher"
                                        :class="key == 'first order' ? 'first-order' : ''">
                                        <img v-if="item.imgSrc" :src="item.imgSrc" :alt="key">
                                        <a :href="key.href"
                                            v-if="key != 'first order'">{{ key }}</a>
                                        <p v-else>
                                            just use the code <span class="highlight">firstorder</span><br/> at checkout
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <!-- CX footer input - subscribe -->
                    <div class="footer-form">
                        <img src="assets/img/logo/takeout-logo-2x-200x43.png" alt="logo takeout">
                        <h5>Stay in the loop</h5>
                        <p>Sign up to receive up to date news and offers directly in your inbox:</p>
                        <input type="email" v-model="userMail" placeholder="you@email.com">
                        <button type="button" name="button" class=" primary">subscribe</button>
                    </div>

                    <!-- BTM social and copy -->
                    <div class="footer-info">
                        <div class="social">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                            <i class="fas fa-rss"></i>
                            <i class="fab fa-youtube"></i>
                            <i class="far fa-envelope"></i>
                        </div><!-- END social icon -->
                        <span>&copy; Copyright 2012 - 2020 | Avada Theme by <a href="#">ThemeFusion</a> | All Rights Reserved | Powered by <a href="#">WordPress</a></span>
                    </div>
                </div><!-- END footer-container -->
            </footer>
        </div>

        <!-- javascript -->
        <script type="text/javascript" src="assets/main.js"></script>
    </body>
</html>
