/* <1-fold --> reset e normalizzazione */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', 'Open Sans', sans-serif;
    font-weight: 400;
}
a {
    font-weight: 700;
    text-decoration: none; text-transform: capitalize;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 { /* index-title --> cover section */
    letter-spacing: -4px;
    text-transform: capitalize;
    line-height: 85px;
    color: #ffffff;
    font-size: 90px;
    margin-bottom: 30px;
}
h1 span {
    color: #fcd66c;
}
h2 { /* main-title */
    font-size: 50px;
    text-transform: capitalize;
}
/* h3 app */
/* h4 title art */
h5 { /* footer form title */
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fcd66c;
    font-size: 32px;
}

/* </1-fold> --> reset e normalizzazione */

/* <1-fold --> all doc style */
.container {
    width: 90%; max-width: 1200px;
    /* background-color: pink; */
    margin: auto;
}
.footer-container {
    width: 95%; max-width: 1300px;
    /* background-color: white; */
    margin: auto;
}

button.primary {
    text-transform: uppercase; letter-spacing: 2px;
    padding: 13px 29px;
    line-height: 17px; font-size: 14px;
    border-radius: 50px; border: 0px;
    background-color: #cc1a26; color: #ffffff;
    font-family: Barlow; font-weight: 700;
    cursor: pointer;
    outline: 0px;
}
button.primary:hover {
    background-color: #bf1e23;
}

li.active a {
    color: #fcd66c;
}

/* </1-fold> --> all doc style */


/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* <1-fold --> header */
header {
    padding-top: 40px;
    background-color: transparent;
    position: absolute;
    width: 100%;
}
header .container {
    display: flex; justify-content: space-between;
}

.header-logo {
    display: flex; align-items: center;
    height: 130px;
}

/* hamburger-menu */
.header-menu .hamburger-menu i {
    color: white;
    line-height: 130px;
}
.header-menu > ul {
    display: none;
}
.header-menu ul li {
    display: inline-block;
}
.header-menu ul li a {
    display: inline-block;
    line-height: 130px;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 19px;
}
.header-menu ul li.drowpdown-symb a::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-left: 10px;
}

/* </1-fold --> header */

/* <1-fold --> main */

/* #2-fold section.cover*/
section.cover {
    background-image: url("img/cover-background.jpg");
    background-size: cover;
    background-position: center;
    text-transform: capitalize;
    font-size: 45px; color: #ffffff;
}
section.cover .container {
    height: calc(100vh + 50px);
    padding-top: 170px; padding-bottom: 50px;
    display: flex; flex-direction: column;
    justify-content: center;
    position: relative;
}
section.cover button {
    align-self: flex-start;
}

.cover .feat-container {
    align-self: stretch; height: 100px;
    background-color: white;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    transform: translateY(50%);
    display: flex;
}
.cover .feat-container .info-card {
    height: 100px; flex-grow: 1;
    font-size: 16px;
    display: flex;
    justify-content: center; align-items: center;
    color: black;
    line-height: 20px;
}
.cover .feat-container .info-card span {
    color: #555454;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 15px;
}

/* #/2-fold section.cover*/

/* #2-fold section.pop-dishes*/
section.pop-dishes {
    padding-top: 80px;
    padding-bottom: 50px;
}
.pop-dishes .container {
    display: flex; flex-direction: column;
    align-items: center;
}

.pop-dishes .dish-card-container {
    background-color: red;
    margin: 20px 0;
    height: 100px; width: 100%;
}
.pop-dishes .dish-card-container::after {
    content: "";
    display: table;
    clear: both;
}
.pop-dishes .dish-card-container .dish-card {
    background-color: blue;
    width: calc(100% / 3); height: 100px;
    float: left;
}

/* #/2-fold section.pop-dishes*/

/* #2-fold section.voucher */
section.voucher {
    height: 320px;
    background-image: url("img/first_order/first-order-background-scaled.jpg");
    background-size: cover;
    background-position: center;
}

/* #/2-fold section.voucher */

/* #2-fold section.menu */
section.menu {
    height: 100vh;
    background-color: purple;
}
.menu .menu-container {
    height: 200px;
    background-color: orange;
}
.menu .menu-container::after {
    content: "";
    display: table;
    clear: both;
}
.menu .menu-container .menu-cat {
    width: calc(100% / 4); height: 50px;
    float: left;
    background-color: pink;
}
.menu .menu-info {
    height: 200px;
    background-color: gray;
}
.menu .menu-info::after {
    content: "";
    display: table;
    clear: both;
}
.menu .menu-info .info {
    width: calc(100% / 4); height: 50px;
    float: left;
    background-color: yellow;
}

/* #/2-fold section.menu */

/* #2-fold section.app */
section.app {
    background-image: url("img/app/app-ordering-scaled.jpg");
    background-size: cover;
    background-position: center;
    padding: 130px 0 100px;
}

/* #/2-fold section.app */

/* #2-fold section.news */
section.news {
    height: 100vh;
    background-color: purple;
}
.news .news-container {
    height: 200px;
    background-color: orange;
}
.news .news-container::after {
    content: "";
    display: table;
    clear: both;
}
.news .news-container .single-news {
    width: calc(100% / 2); height: 50px;
    float: left;
    background-color: pink;
}

/* #/2-fold section.news */

/* </1-fold --> main */

/* <1-fold --> footer */
footer {
    min-height: 800px;
    background-image: url("img/footer-background.jpg");
    background-size: cover;
    background-position: center;
    padding: 70px 120px 140px;
}

.footer-menu > ul::after {
    content: "";
    display: table;
    clear: both;
}
.footer-menu > ul > li  {
    display: block; float: left;
    width: 100%;
    text-transform: uppercase;
    color: white;
    cursor: default;
    text-align: center;
    font-weight: bold; font-size: 13px;
}
.footer-menu > ul > li:last-child  {
    text-align: center;
}
.footer-menu ul ul  {
    margin-top: 20px;
    margin-bottom: 60px;
}
.footer-menu ul ul li  {
    margin-top: 15px;
}
.footer-menu ul ul li.app-link:last-child {
    margin-top: 5px;
}
.footer-menu ul ul li.app-link img {
    width: 90%;
    max-width: 120px;
    border: 2px solid white;
    border-radius: 10px;
}
.footer-menu ul ul li.first-order img {
    width: 90%;
    max-width: 180px;
}
.footer-menu ul ul li.first-order p {
    margin-top: 10px;
    font-size: 15px;
    text-transform: capitalize;
}
.footer-menu ul ul li.first-order span.highlight {
    text-transform: uppercase;
    color: #fcd66c;
}

.footer-form {
    display: flex; flex-direction: column;
    align-items: center;
    text-align: center; color: white;
}
.footer-form img {
    margin-bottom: 40px;
}
.footer-form p {
    font-family: 'Open Sans';
    margin: 20px 0 40px;
}
.footer-form input,
.footer-form button {
    width: 80%;
    max-width: 600px;
}
.footer-form input {
    padding: 13px 29px;
    line-height: 17px; font-size: 14px;
    border-radius: 50px;
    border: 1px solid transparent;
    outline: 0px;
    margin-bottom: 20px;
}

.footer-info {
    text-align: center;
}
.footer-info .social {
    text-align: center;
    margin: 40px 0;
}
.footer-info .social i {
    color: white;
    cursor: pointer;
    margin: 0 10px;
}
.footer-info span {
    font-size: 12px;
    color: #fcd66c;
    font-weight: bold;
}
/* </1-fold --> footer */

/* ----------------------- */
/* ----- MEDIA QUERY ----- */
/* ----------------------- */

/* XS */
@media screen and (min-width: 576px) {

}
/* SM */
@media screen and (min-width: 768px) {
    .footer-menu > ul > li  {
        width: calc(100% / 5);
        text-align: left;
    }
}
/* MD */
@media screen and (min-width: 992px) {
    nav.header-menu > ul {
        display: block;
    }
    nav.header-menu > .hamburger-menu {
        display: none;
    }
}
/* LG */
@media screen and (min-width: 1200px) {
    .header-menu ul li a {
        padding: 0 20px;
        margin-left: 10px;
    }
}
/* XL */
