/* <1-fold --> reset e normalizzazione */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* </1-fold> --> reset e normalizzazione */

/* <1-fold --> all doc style */
.container {
    width: 1100px;
    background-color: pink;
    margin: auto;
}
.footer-container {
    width: 1300px; height: 100%;
    background-color: white;
    margin: auto;
}

/* </1-fold> --> all doc style */


/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* <1-fold --> header */
header {
    height: 170px;
    padding-top: 40px;
    background-color: red;
}
header .container {
    display: flex; justify-content: space-between;
}

.header-logo {
    width: 200px; height: 100%;
    background-color: purple;
}

.header-menu ul li {
    display: inline-block;
}
.header-menu ul li a {
    display: inline-block;
    line-height: 130px;
    padding: 0 20px;
    margin-left: 10px;
}

/* </1-fold --> header */

/* <1-fold --> main */
main {
    height: 100vh;
    background-color: green;
}
/* </1-fold --> main */

/* <1-fold --> footer */
footer {
    height: 100vh;
    background-color: blue;
}

.footer-menu > ul::after {
    content: "";
    display: table;
    clear: both;
}
.footer-menu > ul > li  {
    display: block;
    float: left;
    width: calc(100% / 5);
}

.footer-form,
.footer-info {
    min-height: 100px;
    background-color: orange;
}
/* </1-fold --> footer */

/* ----------------------- */
/* ----- MEDIA QUERY ----- */
/* ----------------------- */

/* XS */
@media screen and (min-width: 576px) {

}
/* SM */
@media screen and (min-width: 768px) {

}
/* MD */
@media screen and (min-width: 992px) {

}
/* LG */
@media screen and (min-width: 1200px) {

}
/* XL */
